<div style="height: 150px"></div>
<div class="container">
  <h1>Editar Noticia</h1>
  <hr>
  <%= render partial: 'form', locals: { form_submit: "Editar Noticia"} %>
</div>
<div style="height: 150px"></div>