
<!-- header -->
<div class="header header_thin" style="background-image:url(<%= asset_path('slider_1_2.jpg') %>)">
    <div class="header_title">
        <h1> <span>Mantenimiento</span> Automotriz</h1>
    </div>
</div>
<!--/ header -->
<!-- breadcrumbs -->
<div class="middle_row row_white breadcrumbs">
    <div class="container">
        <p><a href="index.php">Inicio</a>    <span class="separator">&rsaquo;</span> <span class="current">Mantenimiento</span></p>
        <a href="index.php" class="link_search"><i class="fa fa-user"></i> Contáctenos</a>
    </div>
</div>
<!--/ breadcrumbs -->
<!-- middle -->   
<div id="middle" class="full_width">
    <div class="container clearfix">
        <!-- content -->
        <div class="content">
            <article class="post-detail">
                <div class="post-title">
                    <h1 style="text-align:center">Shortcodes: Columns inside Full width page</h1>
                </div>
                <div class="entry">
                    <img src="<%= asset_path('post_img_big_3.jpg') %>" alt="" class="frame_center">
                    <blockquote>
                        <div class="inner">
                            <p>Nam ornare pharetra sem vitae blandit. Aliquam sed massa vitae risus sodales molestie vitae sit amet arcu. Nunc egestas dapibus a pellentesque pellentesque. </p>
                        </div>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. <strong>Proin quis tortor orci</strong>. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. </p>
                </div>                         
            </article>
        </div>
        <!--/ content -->
    </div>
</div>