<div style="height: 150px"></div>
<div class="container">
  <h1>Editar vehículo</h1>
  <hr>
  <%= render partial: 'form', locals: { form_submit: "Editar Vehículo", current_page: "edit" } %>
</div>
<div style="height: 150px"></div>