<div style="height: 150px"></div>
<div class="container">
  <h1>Agregar un nuevo vehículo</h1>
  <p>Recuerda que para que las imágenes se vean consistentes en las páginas debes agregar imágenes de 600 pixeles de ancho por 400px de alto.</p>
  <hr>
  <%= render partial: 'form', locals: { form_submit: "Crear Vehículo", current_page: "new" } %>
</div>
<div style="height: 150px"></div>