<div class="header_top">
    <div class="container">

      <div class="logo">
        <a href="index.php"> <%= image_tag 'logo_01.png' %>  </a>
      </div>

      <!-- topmenu -->
      <nav id="topmenu" class="clearfix">
        <ul class="dropdown">
                  <li class="menu-level-0 current-menu-ancestor"><a href="index.php"><span>Inicio</span></a>
          </li>
          <li class="menu-level-0"><a href="nosotros.php"><span>Empresa</span></a>

                    </li>
                    <li class="menu-level-0 mega-nav"><a href="blindaje.php"><span>Blindaje</span></a>

                    </li>

                  <li class="menu-level-0"><a href="alquiler.php"><span>Alquiler</span></a>

          </li>
          <li class="menu-level-0"><a href="mantenimiento.php"><span>Mantenimiento</span></a>

          </li>
                    <li class="menu-level-0"><a href="blog.php"><span>Noticias</span></a>

          </li>
          <li class="menu-level-0"><a href="contacto.php"><span>Contacto  <i class="fa fa-map-marker"></i></span></a></li>
        </ul>
      </nav>
    <!--/ topmenu -->
    </div>
  </div>
